# database
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_MIGRATE_VERSION=0
DOWN_OLD_DB_EVERYTIME=false

# redis
RDB_PASSWORD=rdbpassword

# app
JWT_SECRET=secret
APP_DB_ADDR=fio_service_pg:5432
KAFKA_ADDR=kafka:29092
APP_RDB_ADDR=redis:6379
